html, body {
    width: 400px;
    height: 580px;
    background-color: rgb(40, 40, 40);
    margin: 0px;
}

#ytdpSettingsTitle {
    width: 100%;
    height: auto;
    margin: 1px;
}

.pageOutside {
    width: 100%;
    height: 450px;
    display: flex;
}

.pageBody {
    align-self: center;
    width: 92%;
    height: 92%;
    margin: 2%;
    background-color: rgb(50, 50, 50);
    border-radius: 5px;
    padding-right: 5%;
    padding-left: 5%;
    padding-top: 3%;
    padding-bottom: 3%;
}

#exclusionsOutside {
    display: none;
}

#inclusionsOutside {
    display: none;
}

div {
    vertical-align: top;
    border: 0%;
    margin: 0%;
}

.settingsCategory {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 700;
    margin: 0px;
    margin-left: 2px;
    margin-top: 14px;
    margin-bottom: 4px;
    color: rgb(128, 128, 128);
}

.returnBack {
    float: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 700;
    margin: 0px;
    margin-top: 6px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 6px;
    padding-right: 6px;
    border: 1px;
    border-style: solid;
    border-radius: 100%;
    color: rgb(128, 128, 128);
}

.returnBack:hover {
    color: rgb(207, 207, 207);
    cursor: pointer;
}

.settingsOption {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: rgb(210, 210, 210);
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: solid;
    border-width: 1px;
    border-color: rgb(111, 111, 111);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin: 0px;
}

.settingsOption a {
    color: rgb(210, 210, 210);
    text-decoration: none;
}

.excludeListInput {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: rgb(210, 210, 210);
    margin: 3px;
    padding: 8px;
    border-radius: 5px;
    border-style: none;
    background-color: rgb(70, 70, 70);
    width: 270px;
}

:root {
    --titleExclusionsInputButtonBackgroundColor: rgb(60, 60, 60); 
    --titleExclusionsInputButtonTextColor: rgb(90, 90, 90); 
    --titleExclusionsInputButtonBackgroundColorHover: rgb(60, 60, 60); 
}

.excludeInputButton {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 600;
    padding: 9px;
    border: solid;
    border-style: none;
    border-radius: 5px;
    cursor: pointer;
}

#titleExclusionInputButton {
    background-color: var(--titleExclusionsInputButtonBackgroundColor);
    color: var(--titleExclusionsInputButtonTextColor);
}

#titleExclusionInputButton:hover {
    background-color: var(--titleExclusionsInputButtonBackgroundColorHover);
}

#channelExclusionInputButton {
    background-color: rgb(60, 60, 60);
    color: rgb(90, 90, 90);
}

.separator {
    margin: 10px;
}

.exclusionsListBody {
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 3px;
    margin-right: 3px;
    background-color: rgb(56, 56, 56);
    border-radius: 5px;
    padding: 0px;
    height: 100px;
    overflow: hidden;
    overflow-y: scroll;
}

.exclusionsList {
    color: rgb(210, 210, 210);
    list-style-type: none;
    margin-bottom: 8px;
    padding-top: 0px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 14px;
}

li {
    background-color: rgb(50, 45, 50);
    border-radius: 3px;
    padding: 8px;
    width: 100%;
    max-width: 300px;
    overflow-wrap: break-word;
    margin-top: 8px;
}

div::-webkit-scrollbar {
    width: 5px;
}

div::-webkit-scrollbar-track {
    background: transparent;
}
  
div::-webkit-scrollbar-thumb {
    background: rgb(210, 210, 210);
    border-radius: 4px;
}
  
div::-webkit-scrollbar-thumb:hover {
    background: rgb(177, 177, 177);
}

.removeExclusionButton {
    position: relative;
    font-size: 10px;
    color: rgb(128, 128, 128);
    margin-left: 1px;
    margin-top: 6px;
}

.removeExclusionButton:hover {
    cursor: pointer;
    color: red;
    font-weight: 500;
}

.switchStatus {
    float: right;
    position: relative;
    margin: 6px;
    margin-right: 8px;
    font-size: 10px;
    font-weight: bold;
}

.triangle {
	width: 0;
	height: 0;
	border-top: 5px solid transparent;
	border-left: 10px solid white;
	border-bottom: 5px solid transparent;
}

.subpageButton {
    float: right;
    position: relative;
    margin: 6px;
    margin-right: 8px;
    font-size: 10px;
    font-weight: bold;
}

.subpageButtonBody:hover {
    background-color: rgb(40, 40, 40);
    cursor: pointer;
}

.switch { /* W3SCHOOLS START */
    float: right;
    position: relative;
    vertical-align: middle;
    width: 45px;
    height: 22px;
    margin: 0px;
}
  
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(149, 149, 149);
    transition: 0.2s;
    transition: 0.2s;
}

.slider::before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: 0.2s;
    transition: 0.2s;
}
  
input:checked + .slider {
    background-color: #2ab045;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px #2ab045;
}

input:checked + .slider::before {
    transform: translateX(22px);
}
  
.slider.round {
    border-radius: 22px;
}
  
.slider.round::before {
    border-radius: 50%;
} /* W3SCHOOLS END */

