Host/main.dSYM
Host/log.txt
Extension.zip
Extension/.DS_Store
.DS_Store
Host/YTDPwin/x64
Host/YTDPwin/YTDPwin/log.txt
Host/YTDPwin/YTDPwin/x64
Host/YTDPwin/UpgradeLog.htm
Host/YTDPwin/UpgradeLog2.htm
Host/YTDPwin/YTDPsetup/Debug
Host/YTDPwin/YTDPsetup/Release
.vscode
.vs
*.o
*.msi
*.exe
*.out
*.zip
NodeHost/node_modules
NodeHost/src/app-linux
NodeHost/src/app-macos
NodeHost/src/bundle.js
test.js
config.json
test.bat
.env